{
    "owner_id": 0,
    "dev_ids": [],
    "lockdown": false,
    "owner_guild_ids": [],
    "system_ch_id": 0,
    "support_server_url": "https://discord.gg",
    "discord_api_token": "",
    "emoji": "default",
    "lavalink": {
        "host": "",
        "port": 0,
        "pass": "",
        "secure": true
    },
    "spotify": {
        "client_id": "",
        "client_secret": ""
    }
}
